.main {
    width: 65.25rem;
    display: flex;
    margin: 0 auto;
    background: green;
    
}

.main .sidebar {
    width: 30%;
    height: 75vh;
    background: purple;
    margin: 15px;
    
}

.main .right {
    width: 70%;
    height: auto;
    background: red;
    margin: 15px;
}