.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height : 100vh;
    }
    .div1 { grid-area: 1 / 1 / 2 / 3; background: #F286F6;}
    .div2 { grid-area: 2 / 1 / 3 / 3; background: #F286F6;}
    .div3 { grid-area: 3 / 1 / 4 / 3; background: #F286F6;}
    .div4 { grid-area: 4 / 1 / 5 / 3; background: #F286F6;}
    .div5 { grid-area: 3 / 3 / 4 / 5; background: #F286F6;}
    .div6 { grid-area: 4 / 3 / 5 / 5; background: #F286F6;}
    .div7 { grid-area: 3 / 5 / 5 / 9; background: #FA8BB4;}
    .div8 { grid-area: 4 / 9 / 5 / 11; background: #F286F6;}
    .div9 { grid-area: 4 / 11 / 5 / 13; background: #F286F6;}
    .div10 { grid-area:  3 / 9 / 4 / 11; background: #F286F6;}
    .div11 { grid-area: 3 / 11 / 4 / 13; background: #F286F6;}
    .div12 { grid-area: 1 / 3 / 3 / 9; background: #F8C4AA;}
    .div13 { grid-area: 2 / 9 / 3 / 13; background: #73CFF4;}
    .div14 { grid-area: 1 / 9 / 2 / 13; background: #73CFF4;}
    
    
    
    div:not(.parent) {
      padding : 10px;
    /*   background: orangered; */
    }

    @media (max-width: 768px) {

        .parent {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(6, 1fr);
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            }
            
            .div1 { grid-area: 1 / 1 / 2 / 4; background: #F286F6; }
            .div2 { grid-area: 2 / 1 / 3 / 4; background: #F286F6; }
            .div3 { grid-area: 1 / 4 / 3 / 13; background: #FEC4B0;}
            .div4 { grid-area: 3 / 1 / 4 / 7; background: #73CFF4; }
            .div5 { grid-area: 4 / 1 / 5 / 7; background: #73CFF4; }
            .div6 { grid-area: 3 / 7 / 4 / 10; background: #F286F6; }
            .div7 { grid-area: 3 / 10 / 4 / 13; background: #F286F6;}
            .div8 { grid-area: 4 / 7 / 5 / 10; background: #F286F6;}
            .div9 { grid-area: 4 / 10 / 5 / 13; background: #F286F6;}
            .div10 { grid-area: 5 / 1 / 6 / 4; background: #F286F6; }
            .div11 { grid-area: 5 / 4 / 6 / 7; background: #F286F6; }
            .div12 { grid-area: 6 / 1 / 7 / 4; background: #F286F6; }
            .div13 { grid-area: 6 / 4 / 7 / 7; background: #F286F6; }
            .div14 { grid-area: 5 / 7 / 7 / 13; background: #FA8BB4; }

    }